<div class="row">
  <div class="col-xs-12 col-md-6 offest-md-3">
    <form #authFormRef="ngForm" (ngSubmit)="onAuthFormSubmit(authFormRef)">
      <div class="form-group">

        <!-- EMIAL-->
        <label for="">Email</label>
        <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        email
        ngModel
        required
        >
      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <label for="">Password</label>
        <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        email
        ngModel
        required
        >
      </div>

      <!-- BUTTONS -->
      <button class="btn btn-primary mr-3" type="submit" [disabled]="!authFormRef.valid">
        {{ isLoginMode ? "Sign In" : "Sign Up"}}
      </button>

      <button class="btn btn-primary">
        Switch to {{ isLoginMode ? "Sign In" : "Sign Up"}}
      </button>
    </form>

    <p class="alert alert-danger mt-3" *ngIf="errMsg">{{errMsg}}</p>
  </div>
</div>
