<div class="row">
  <div class="col-xs-12 col-md-6 offest-md-3">
    <form action="">
      <div class="form-group">

        <!-- EMIAL-->
        <label for="">Email</label>
        <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        email
        >
      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <label for="">Password</label>
        <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        email
        >
      </div>

      <!-- BUTTONS -->
      <button class="btn btn-primary mr-3">Sign Up</button>

      <button class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
