<!--
<app-book-form-td>

</app-book-form-td> -->
<h2>Book Form </h2>
<form #bookFormRef="ngForm" (ngSubmit)="onSubmit(bookFormRef)">
  <!-- TITLE -->
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" ngModel />
  </div>

  <!-- AUTHOR -->
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" name="author" ngModel />
  </div>

  <!-- GENRE -->
  <div class="form-group">
    <label for="genre">Genre</label>
    <select name="genre" id="genre" class="form-control" ngModel>
      <option disabled selected value>Select a Genre</option>
      <option value="Mystery">Mystery</option>
      <option value="Science">Science</option>
      <option value="Non-Fiction">Non-Fiction</option>
      <option value="Fiction">Fiction</option>
    </select>
  </div>

  <!-- IMAGE INPUT -->
  <div class="form-group">
    <label for="coverImagePath">Image Path</label>
    <input
      type="text"
      class="form-control"
      id="coverImagePath"
      name="coverImagePath"
      ngModel
    />
  </div>

  <!-- IMAGE DISPLAY -->
  <div class="row my-2">
    <div class="col-xs-10 mx-auto">
      <img
        class="img-responsive"
        [src]="bookFormRef.value['coverImagePath']"
        [alt]="bookFormRef.value['title']"
      />
    </div>
  </div>

  <!-- BUTTONS -->
  <button
    type="submit"
    class="btn btn-primary mr-3"
    [disabled]="!bookFormRef.valid"
  >
    Save
  </button>
  <button type="button" class="btn btn-warning" (click)="onResetForm()">
    Cancel
  </button>
</form>
